body{
    min-height: 100vh;
    font-family: 'Lobster', cursive;
    margin: 0px;
    padding: 0px;
}
.title{
    text-align: center;
    font-family: 'Alkatra', cursive;
    margin: 0px;
  
}
.search-form{
    display:flex;
    justify-content: center;
    padding: 10px; 
   
}
.search-button{
    background-color: #fff;
    border: none;
    padding: 15px;
    margin: 5px;
    background-color: rgb(129, 66, 80);
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}
.search-button :hover{
    transform: scaleX(2);
}

.search-value{
    outline: none;
    border: none;
    padding:15px;
    margin:5px;
    min-width: 500px;
    border-radius: 5px;
    text-align: center;
}
.nav-bar{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
     padding: 20px;
     margin-bottom: 10px;
}
.country{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px; 
    border-radius: 10px;
    
}
ul,li{
    list-style: none;
    padding:10px; 
}
.country-list{
    margin: auto;
    display:grid;
    max-width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px 10px;
}
